################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/core-tool-webapi/bin/Debug/net5.0
